

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    height: 400px;
    margin: 0 auto;
    width: 350px;   
}
.container form button{
   background-color: aqua;   
}


form{
    display: flex;
    flex-direction: column;

}
